@using Stossion.ViewModels.User;
@model ForgetPasswordViewModel
@{
    Layout = Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Forget Password";
}

<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/login/login.js"></script>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Stossion.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>
<div class="container emailBox" id="emailBox">
    <input id="resetUsername" value="@Model.Username" hidden />
    <input id="token" value="@Model.Token" hidden />

    <div class="row">
        <div class="col-12">
            <h4>Change Password</h4>
        </div>
        <div class="col-7 pt-1">
            <div class="form-group">
                <input type="password" class="form-control textBox" placeholder="New Password" id="resetNewPassword" name="resetNewPassword" required>
            </div>
        </div>
        <div class="col-7 pt-1">
            <div class="form-group">
                <input type="password" class="form-control textBox"  placeholder="Confirm Password" id="resetConfirmNewPassword" name="resetConfirmNewPassword" required>
            </div>
        </div>
        <div class="col-8 pt-1">
            <button id="resetPasswordButton" class="btn btn-primary">
                Confirm
            </button>
        </div>
    </div>
</div>

<div class="container" id="emailSent">
    <p id="emailSentText"></p>
</div>


