<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h4>Change Password</h4>
        </div>
        <div class="col-12 pt-1">
            <div class="form-group w-50 offset-md-3">
                <input type="password" class="form-control stextBox required" placeholder="Old Password" id="oldPassword" name="oldPassword" required>
            </div>
        </div>
        <div class="col-12 pt-1">
            <div class="form-group w-50 offset-md-3">
                <input type="password" class="form-control stextBox required passwordType" placeholder="New Password" id="newPassword" name="newPassword" required>
            </div>
        </div>
        <div class="col-12 pt-1">
            <div class="form-group w-50 offset-md-3">
                <input type="password" class="form-control stextBox required passwordType" placeholder="Confirm New Password" id="confirmNewPassowrd" name="confirmNewPassowrd" required>
            </div>
        </div>
        <div class="col-12 pt-1">
            <div class="col-md-6 offset-md-3">
                <button id="changePasswordButton" class="stossionBtn">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>
