<head>
    <title>Stossion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="~/css/bootsrap-material/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/css/toastr/toastr.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Stossion.Web.styles.css" asp-append-version="true" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/js/shared.js"></script>
    <script src="~/lib/toaster/js/toastr.js"></script>
    <script src="~/js/site.js"></script>

</head>

 <style>

        .navigationBars{
            height:100vh;
            background-color: #343a40; /* Sidebar background color */
            background: linear-gradient(45deg, #000000, purple);
            color: white;
            padding: 20px; /* Padding for menu items */
            position: fixed; /* Fix the sidebar position */
            overflow-y: auto; /* Add vertical scroll if needed */
            z-index: 1000; /* Ensure the sidebar is above other content */
        }


        .navigationBars a {
            color: white; /* Text color for menu links */
            display: block; /* Display menu links as blocks */
            padding: 10px 0; /* Padding for menu links */
            text-decoration: none; /* Remove default underline */
        }

        .navigationBars a:hover {
            background-color: #495057; /* Background color on hover */
        }

        /* Main Content Styles */
        .main-content {
            margin-left: 200px; /* Adjust margin to accommodate sidebar */
            padding: 20px; /* Padding for main content */
        }

        @@media (max-width: 768px) {
            /* Adjust margin for smaller screens */
            .main-content {
                margin-left: 0; /* No margin for smaller screens */
            }
        }

        /* Header Styles */
        .navbar.navColor {
            z-index: 1001; /* Ensure the header is above the sidebar */
        }
    </style>
<!-- Upper Header -->
<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navColor border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="row align-items-center w-100">
                <div class="col-5">
                    <a asp-controller="Home" asp-action="Index"> <img class="cursorPointer" src="~/images/logos/Stoss.png" /> </a>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <img src="" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px;">
                        <span class="ml-2 usernameMenu">@User.Identity.Name</span>
                        <div class="ml-3">
                            <i id="submenuToggle" class="fa fa-caret-down subMenuToogle"></i>
                            <div id="submenu" class="dropdown-menu" style="display: none;">
                                <a class="dropdown-item" href="/Home/ViewProfile">View Profile</a>
                                <a class="dropdown-item" href="/Home/Menu?name=ChangePassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="logout" href="/Login/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


<div>
    <div class="row mr-0">
        <div class="col-2  navigationBars" style="background:red">
            
        </div>
        <div class="col-6 offset-md-3" style="background:green">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>