html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background : linear-gradient(to right, #F0F0F0, #D0D0D0);
}

.logout {
    font-size: 24px;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
}

.swal-button--confirm {
    color: green
}

.textBox {
    border-radius: 25px;
}
